.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 4px 0;
    color: var(--gray-700);

    &-item {
        padding: 0 2px;
    }
    &-active {
        color: var(--green);
      }

    &-bracket {
        padding: 4px;
    }
}