@import '../../styles/mixins';

.filter {
    &-title {
        display: flex;
        align-items: center;
    }

    &-category {
        padding-left: 4px;
        font-size: 24px;
        color: var(--primary);
        font-weight: 400;
    }

    &-all-title {
        display: flex;
        align-items: center;
        margin-top: 19px !important;
    }

    &-all-category {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        font-size: 20px;
        color: var(--gray-600);
        font-weight: 300;
        margin: 0;
    }

    &-tabs {
        display: flex;
        row-gap: 19px;
        column-gap: 20px;
        overflow-x: auto;
        

        @include respond-to(medium) {
            grid-template-columns: repeat(5, 1fr);
            display: grid;
        }

        @include respond-to(large) {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    &-button {
        &-active {
            background-color: var(--primary) !important;
            color: var(--white) !important;
            border-color: var(--primary) !important;
        }
    }
}