:root {
  --primary: #044dc3;
  --primary-100: #e8f1ff;
  --green: #51b549;
  --green-100: #e2f7e1;
  --white: #ffffff;
  --black: #000000;
  --gray-100: #e2e7e9;
  --gray-200: #f2f2f2;
  --gray-300: #e6e6e6;
  --gray-400: #9b9b9b;
  --gray-500: #707070;
  --gray-600: #555555;
  --blue-100: #e8f1ff;
  --red: #f54257;
  --red-100: #ff5b4d;
  --red-200: #e44e41;
  --orange: #e37d34;
  --yellow: #ffce00;
}
