@import '../../../styles/mixins';
@import '../../../styles/variables';

.btn {
    color: var(--white);
    background: var(--primary);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 32px 15px 25px;
    border-radius: 28px;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 1;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        background: var(--primary);
        color: var(--white);

        svg,
        path {
            fill: var(--white);
        }
    }

    &-transparent {
        color: var(--primary);
        background: transparent;
        border-radius: 10px;
        border: 1px solid var(--primary);
        padding: 14px 36px;

        svg,
        path {
            fill: var(--primary);
        }

        &:hover {
            background: var(--primary);
            color: var(--white);

            svg,
            path {
                fill: var(--white);
            }
        }
    }

    &-gray {
        color: var(--gray-600);
        background: var(--white);
        border-radius: 10px;
        border: 1px solid var(--gray-200);

        svg,
        path {
            fill: var(--gray-600);
        }

        &:hover {
            background: var(--primary);
            color: var(--white);

            svg,
            path {
                fill: var(--white);
            }
        }

        &:active {
            background: var(--white);
            color: var(--primary);

            svg,
            path {
                fill: var(--primary);
            }
        }
    }

    &-red {
        color: var(--red-300);
        background: var(--white);
        border-radius: 15px;
        border: 1px solid var(--red-300);

        svg,
        path {
            fill: var(--red-300);
        }

        &:hover {
            background: var(--red-300);
            color: var(--white);

            svg,
            path {
                fill: var(--white);
            }
        }

        &:active {
            background: var(--white);
            color: var(--red-300);

            svg,
            path {
                fill: var(--red-300);
            }
        }
    }

    &-green {
        color: var(--white);
        background: var(--green);
        border-radius: 28px;
        border: 1px solid var(--green);
        opacity: 1;
        width: 66px;
        height: 40px;
        padding: 0;

        svg,
        path {
            fill: var(--green);
        }

        &:hover {
            opacity: 0.9;

            svg,
            path {
                fill: var(--white);
            }
        }

        &:active {
            background: var(--white);
            color: var(--green);

            svg,
            path {
                fill: var(--green);
            }
        }
    }


    svg {
        margin-right: 4px;
    }

}