@import '../../../styles/mixins';

.btn {
    &-text{
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    
    // size
    &-xl {
        padding: 0.375rem 0.25rem;
    }
    &-lg {
        padding: 0.5rem 0.25rem;
    }
    &-md {
        padding: 0.625rem 0.375rem;
    }
    &-sm {
        padding: 0.75rem 0.5rem;
    }
    &-xs {
        padding: 1rem 0.625rem;
    }
    &-xs {
        padding: 1rem 0.625rem;
    }

    // color
    &-primary {
        color: var(--white);
        background: var(--primary);
        border-color: var(--primary);
    }
    &-white {
        color: var(--primary);
        background: var(--white);
        border-color: var(--primary);
    }
    &-gray {
        color: var(--gray-600);
        background: var(--white);
        border-color: var(--gray-600);
    }
    &-green {
        color: var(--white);
        background: var(--green);
        border-color: var(--green);
    }
    &-red {
        color: var(--red);
        background: var(--white);
        border-color: var(--red);
    }

    // form
    &-rounded {
        border-radius: 9999px;
    }
    &-square {
        border-radius: 0.5rem;
    }

}