@import "../../../styles/mixins";

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--gray-200);
    background-color: var(--gray-200);
    padding: 5px 5px 5px 19px ;
    flex: 1;
    border: 2px solid var(--gray-200);
    
    @include respond-to(large) {
      border-radius: 28px;
      margin: 0 14rem 0 4.9356rem;
  }

    &-search{
        flex:1;
        border: none;
        padding: 0 7px;
        background-color: var(--gray-200);
        outline: none;
    }
}
